<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>. Thanks for signing up to CS Hub!</h1>
    <p>We are proud to be one of the fastest growing clubs at Lassonde.
      Many people may assume CS Hub is solely for Computer Science students,
    but we welcome students from any discipline that are interested in learning to code, or expanding their knowledge.</p>
    <p>We hold various events and workshops throughout the year and have a very friendly community that will do their best to
    help you out as best we can. </p>
    <p> Our office is located in the new <b>Bergeron building in Room 102E</b> if you want to come by for a chat.</p>
    <p>Cheers,</p>
    <p>From everyone at the CS Hub</p>
  </body>
</html>
