<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<footer class="page-footer teal lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">CS Hub</h5>

        <a class="btn z-depth-0 grey-text text-lighten-3" href="https://www.google.com/maps/place/Lassonde+School+of+Engineering,+Bergeron+Centre+for+Engineering+Excellence/@43.7722765,-79.5132201,16.78z/data=!4m7!1m4!3m3!1s0x882b2e2c3560c7b7:0xcd78fc7966dc148f!2s11+Arboretum+Ln,+North+York,+ON+M3J,+Canada!3b1!3m1!1s0x882b2e2fabd758d3:0x64c7d90c8068b6bf"><i class="fa fa-map-marker fa-2x"></i>&nbsp;102E BCEE, 11 Arboretum Lane, York University</a>
        <a class="btn z-depth-0 grey-text text-lighten-3" href="mailto:yorkcshub@gmail.com"><i class="fa fa-envelope-o fa-2x"></i>&nbsp;yorkcshub@gmail.com</a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social</h5>
        <ul>
          <li><a class="btn z-depth-0 grey-text text-lighten-3" href="https://twitter.com/TheCSHub"><i class="fa fa-twitter fa-2x"></i>&nbsp;Twitter</a></li>
          <li><a class="btn z-depth-0 grey-text text-lighten-3" href="https://www.facebook.com/thecshub"><i class="fa fa-facebook fa-2x"></i>&nbsp;Facebook</a></li>
          <li><a class="btn z-depth-0 grey-text text-lighten-3" href="https://plus.google.com/u/3/107918448004125948372"><i class="fa fa-google-plus fa-2x"></i>&nbsp;Google Plus</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright CS Hub
    <%= link_to "About us", main_app.pages_about_path, :class => "grey-text text-lighten-4 right" %>
    </div>
  </div>
</footer>