<div class="card z-depth-2">
  <div class="card-content">
    <ul class="collection with-header">
            <h5 class="center-align grey lighten-5"><%= link_to forem_emojify(category.name), [forem, category] %></h5>
      <% if can?(:read, category) %>
        <div id='category_<%= category.id %>' class='category'>
          <li class="collection-item">
            <%= render "/forem/forums/listing", :category => category %>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
</div>