<!DOCTYPE html>
<html lang="en" class="no-js">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <body>
    <div class="homepage-canvas">
      <div class="content">
        <div id="large-header" class="large-header">
          <canvas id="demo-canvas"></canvas>
          <h1 class="main-title">
            <div class="card teal lighten-1 black-text">
              <div class="card-content">C<span class="thin">omputing </span>S<span class="thin">tudents' </span>Hub<span class="thin"></span>
              </div>
              <div class="card-action teal darken-1 white-text"><h5>@ The Lassonde School of Engineering</h5></div>
            </div>
          </h1>
        </div>
      </div>
    </div>
    <br>
    <div class="container center">
      <div id = "pillars" class="card z-depth-1">
        <div class="card-content">
          <div class="row">
            <div class="col s12 m4">
              <i class="fa fa-plug fa-5x"></i>
              <h4>Connect with others</h4>
              <p>Network and meet others that work in the field, and find your passion so that you can build up those skills before you graduate.</p><br>
            </div>
            <div class="col s12 m4">
              <i class="fa fa-code fa-5x"></i>
              <h4>Learn valuable skills</h4>
              <p>We've hosted many workshops, tech-talks and organized other events throughout the years. We're always looking for teachers as well as students that want more knowledge!</p><br>
            </div>
            <div class="col s12 m4">
              <i class="fa fa-heart fa-5x"></i>
              <h4>We are students like you</h4>
              <p>...And we are sick of lectures. We would much rather learn collaboratively in groups and help eachother out. And learn things that companies are <i>actually</i> looking for.</p><br>
            </div>
          </div>
        </div>
        <div class="card-action grey lighten-4">
        <%= link_to "Join us today", main_app.new_user_registration_path, class: "waves-effect waves-light btn-large orange lighten-1" %>
        <%= link_to "See more", main_app.pages_about_path, class: "waves-effect waves-light btn-large btn-flat" %>
        </div>
      </div>
    </div>
    <script src="assets/TweenLite.min.js"></script>
    <script src="assets/EasePack.min.js"></script>
    <script src="assets/rAF.js"></script>
    <script src="assets/homepage-canvas.js"></script>
  </body>
</html>

<script type="text/javascript">
      $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
</script>

<script type="text/javascript">
$(document).on('scroll', function (e) { updateColor(); });

function updateColor() {
  var o = $(document).scrollTop() / 500;
    if (o > 1.000) { o = 1; }
    var e = $('nav');
    var currentColor = e.css('background-color');
    var rgb = currentColor.replace(/^(rgb|rgba)\(/, '').replace(/\)$/, '').replace(/\s/g, '').split(',');
    var newColor = 'rgba(' + rgb[0] + ',' + rgb[1] + ',' + rgb[2] + ',' + o + ')';
    e.attr('style', 'background-color: ' + newColor + ' !important');
}

updateColor();
</script>

<script type="text/javascript">
  var options = [
    {selector: '#pillars', offset: 200, callback: 'Materialize.fadeInImage("#pillars")' }
  ];
  Materialize.scrollFire(options);
</script>
