<!DOCTYPE html>
<html lang="en" class="no-js">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <body>
    <div class="homepage-canvas">
      <div class="content">
        <div id="large-header" class="large-header">
          <canvas id="demo-canvas"></canvas>
          <h1 class="main-title">
            <div class="card grey darken-4 white-text">
              <div class="card-content">C<span class="thin">omputing </span>S<span class="thin">tudents' </span>Hub<span class="thin"></span>
              </div>
              <div class="card-action teal darken-1 white-text"><h5>@ The Lassonde School of Engineering</h5></div>
              <div class="card-action grey darken-4 white-text">
                <h5>
                  <a class="waves-effect waves-light btn-large orange lighten-1" href="https://cshub-york.slack.com"><i class="fa fa-slack" aria-hidden="true"></i></a>
                  <a class="waves-effect waves-light btn-large blue darken-1" href="https://www.facebook.com/thecshub"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                </h5>
              </div>
            </div>
          </h1>
        </div>
      </div>
    </div>
    <br>
    <div class="container center">
      <div class="card z-depth-1 valign-wrapper">
        <div class="card-content valign center-block">
          <div class="row">
            <div id = "pillar1">
              <div class="col s12 m6">
                <i class="fa fa-plug fa-5x"></i>
                <h4>Connect with others</h4>
                <p>Network and meet others that work in the field, and find your passion so that you can build up those skills before you graduate.</p><br>
              </div>
              <div class="col s12 m6">
                <img class="materialboxed responsive-img" style="vertical-align: middle;" width="800" src="https://s3.amazonaws.com/cshub-bucket/assets/images/pillar1.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card z-depth-1">
        <div class="card-content">
          <div class="row">
            <div id = "pillar2">
              <div class="col s12 m6 right">
                <i class="fa fa-code fa-5x"></i>
                <h4>Learn valuable skills</h4>
                <p>We've hosted many workshops, tech-talks and organized other events throughout the years. We're always looking for teachers as well as students that want more knowledge!</p><br>
              </div>
              <div class="col s12 m6">
                <img class="materialboxed responsive-img" width="800" src="https://s3.amazonaws.com/cshub-bucket/assets/images/pillar2.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card z-depth-1">
        <div class="card-content">
          <div class="row">
            <div id = "pillar3">
              <div class="col s12 m6">
                <i class="fa fa-heart fa-5x"></i>
                <h4>We are students like you</h4>
                <p>...And we are sick of lectures. We would much rather learn collaboratively in groups and help eachother out. And learn things that companies are <i>actually</i> looking for.</p>
              </div>
              <div class="col s12 m6 valign-wrapper">
                <img class="valign materialboxed responsive-img" width="800" src="https://s3.amazonaws.com/cshub-bucket/assets/images/pillar3.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if current_user.nil? %>
    <div id="pillar4" class="valign">
      <div class="card-panel grey lighten-4 center-align">
        <%= link_to "Join us today", main_app.new_user_registration_path, class: "waves-effect waves-light btn-large orange lighten-1" %>
        <%= link_to "See more", main_app.pages_about_path, class: "waves-effect waves-light btn-large btn-flat" %>
      </div>
    </div>
  <% else %>
    <div id="pillar4" class="valign">
      <div class="card-panel grey lighten-4 center-align">
        <%= link_to "See what's happening", main_app.project_index_path, class: "waves-effect waves-light btn-large orange lighten-1" %>
        <%= link_to "See more", main_app.pages_about_path, class: "waves-effect waves-light btn-large btn-flat" %>
      </div>
    </div>
  <% end %>
    <script src="assets/TweenLite.min.js"></script>
    <script src="assets/EasePack.min.js"></script>
    <script src="assets/rAF.js"></script>
    <script src="assets/homepage-canvas.js"></script>
  </body>
</html>

<script type="text/javascript">
    $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });

    $(document).ready(function(){
      $('.materialboxed').materialbox();
    });
</script>

<script type="text/javascript">
$(document).on('scroll', function (e) { updateColor(); });

function updateColor() {
  var o = $(document).scrollTop() / 500;
    if (o > 1.000) { o = 1; }
    var e = $('nav');
    var currentColor = e.css('background-color');
    var rgb = currentColor.replace(/^(rgb|rgba)\(/, '').replace(/\)$/, '').replace(/\s/g, '').split(',');
    var newColor = 'rgba(' + rgb[0] + ',' + rgb[1] + ',' + rgb[2] + ',' + o + ')';
    e.attr('style', 'background-color: ' + newColor + ' !important');
}

updateColor();
</script>

<script type="text/javascript">
  var options = [
    {selector: '#pillar1', offset: 100, callback: 'Materialize.fadeInImage("#pillar1")' },
    {selector: '#pillar2', offset: 200, callback: 'Materialize.fadeInImage("#pillar2")' },
    {selector: '#pillar3', offset: 275, callback: 'Materialize.fadeInImage("#pillar3")' },
    {selector: '#pillar4', offset: 300, callback: 'Materialize.fadeInImage("#pillar4")' },
  ];
  Materialize.scrollFire(options);
</script>
