@import "materialize";
@import "toastr";
@import 'forem/base';


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #eee;
}

main {
  flex: 1 0 auto;
}

.dim-text {
  opacity: 0.5;
} 

.logo-main{
  margin-top: 5px;
}