@import "materialize";
@import "toastr";
@import 'forem/base';


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("light_wool.png");
  background-repeat: repeat;
}

main {
  flex: 1 0 auto;
}

.container{
  width: 95%;
}

.dim-text {
  opacity: 0.5;
}

.logo-main{
  margin-top: 5px;
}

#pillar1, #pillar2, #pillar3, #pillar4{
  opacity: 0;
}

.tagline{
  opacity: 0.75;
}

.user-card .card-image .card-title{
  opacity:0.8;
  font-size: 1.25em;
  width: 100%;
}

nav ul li:hover {
   background-color: #B2DFDB;
}

nav .active {

}
