<span>
  <div class="teal lighten-1 center-align z-depth-1 valign-wrapper">
    <h4 class="valign center-block thin white-text center-align" id='forums_title'><%= t('.title') %></h4>
  </div>
</span>
<div class="container">
  <div id='forums_container'>
    <%= render @categories %>
  </div>

  <br>
  <footer id='admin_link'>
    <% if forem_admin? %>
      <%= link_to t("area", :scope => "forem.admin"), forem.admin_root_path %>
    <% end %>
  </footer>
</div>
